.podiumsidebar {
    position: relative;
    top: 0;
    right: 0;
    height: 100%;
    width: 300px;
    z-index: 5000;
    border-radius: 10px 0 10px 10px;
    overflow: hidden;

    .background {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 300px;
    }

    .icon {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        top: 15px;
        right: 15px;
        border-radius: 100%;
        cursor: pointer;
        transition: all .5s;
    }

    .icon i {
        position: absolute;
    }
}